openapi: 3.0.0
info:
  description: "This is the API documentation for a future revision of SplatStats."
  version: 0.3.0
  title: SplatStats
  contact:
    email: splatstats@cass-dlcm.dev
  license:
    name: GNU General Public License 3
    url: https://www.gnu.org/licenses/gpl-3.0.en.html
tags:
  - name: two_battles
    description: Splatoon 2 PvP
  - name: two_salmon
    description: Splatoon 2 PvE
  - name: user
    description: Operations about user
paths:
  /api/v0-3-0/two_battles/:
    post:
      tags:
        - two_battles
      summary: Upload a match result
      description: ""
      operationId: addBattle
      parameters:
        - name: auth_token
          in: header
          description: token to be passed as a header
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Battle"
      responses:
        "200":
          description: successful operation
    get:
      tags:
        - two_battles
      summary: Retrieve a list of battles.
      description: ""
      operationId: getBattles
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Battle"
        "400":
          description: Invalid status value
  /api/v0-3-0/two_battles/{userId}/{splatnetNum}:
    get:
      tags:
        - two_battles
      summary: Find Battle by user and Splatnet battle number.
      description: Returns a single battle
      operationId: getBattleById
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          schema:
            type: integer
        - name: splatnetNum
          in: path
          description: Splatnet battle number
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Battle"
        "400":
          description: Invalid ID supplied
        "404":
          description: Battle not found
  /api/v0-3-0/two_battles/{userId}:
    get:
      tags:
        - two_battles
      summary: Find all battles for given user
      operationId: getBattlesForUser
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          schema:
            type: integer
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - asc
              - dec
        - name: lower_bound
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
        - name: upper_bound
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Battle"
  /api/v0-3-0/two_salmon/:
    post:
      tags:
        - two_salmon
      summary: Upload a shift result
      description: ""
      operationId: addShift
      parameters:
        - name: auth_token
          in: header
          description: token to be passed as a header
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/Shift"
      responses:
        "200":
          description: successful operation
    get:
      tags:
        - two_salmon
      summary: Retrieve a list of shifts.
      description: ""
      operationId: getShifts
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Shift"
        "400":
          description: Invalid status value
  /api/v0-3-0/user/get_token:
    get:
      tags:
        - user
      summary: Gives the user a session token.
      description: ""
      operationId: getToken
      parameters:
        - name: username
          in: query
          description: The user name for login
          required: true
          schema:
            type: string
        - name: password
          in: query
          description: The password for login
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
            X-Expires-After:
              description: date in UTC when token expires
              schema:
                type: string
                format: date-time
          content:
            application/json:
              schema:
                type: string
        "400":
          description: Invalid username/password supplied
  /api/v0-3-0/user/{username}:
    get:
      tags:
        - user
      summary: Get user id by username
      description: ""
      operationId: getUserByName
      parameters:
        - name: username
          in: path
          description: "The name that needs to be fetched."
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Invalid username supplied
        "404":
          description: User not found
servers:
  - url: https://splatstats.cass-dlcm.dev
components:
  schemas:
    Battle:
      type: object
      required:
        - splatnet_upload
        - stat_ink_upload
        - battle_number
        - player_splatnet_id
      properties:
        id:
          type: integer
          readOnly: true
        splatnet_json:
          allOf:
          - $ref: "#/components/schemas/battleSplatnet"
          - nullable: true
        splatnet_upload:
          type: boolean
        stat_ink_json:
          allOf:
          - $ref: "#/components/schemas/battleStatInk"
          - nullable: true
        stat_ink_upload:
          type: boolean
        battle_number:
          type: integer
        player_splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
        elapsed_time:
          type: integer
          minimum: 0
          maximum: 420
        has_disconnected_player:
          type: boolean
        league_point:
          type: number
          nullable: true
        match_type:
          type: string
          enum:
            - league_pair
            - league_team
            - ranked
            - private
            - turf_war
            - fes_solo
            - fes_team
        rule:
          type: string
          enum:
            - splat_zones
            - rainmaker
            - clam_blitz
            - tower_control
            - turf_war
        my_team_count:
          type: number
        other_team_count:
          type: number
        splatfest_point:
          type: number
          nullable: true
        splatfest_title:
          type: string
          nullable: true
        stage:
          type: string
        tag_id:
          type: string
        time:
          type: integer
        win:
          type: boolean
        win_meter:
          type: number
        opponent0_splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
        opponent0_name:
          type: string
        opponent0_rank:
          type: string
          enum:
            - C-
            - C
            - C+
            - B-
            - B
            - B+
            - A-
            - A
            - A+
            - S
            - S+
            - X
          nullable: true
        opponent0_level_star:
          type: integer
          minimum: 0
        opponent0_level:
          type: integer
          minimum: 1
          maximum: 99
        opponent0_weapon:
          type: string
        opponent0_gender:
          type: string
          enum:
            - boy
            - girl
        opponent0_species:
          type: string
          enum:
            - inkling
            - octoling
        opponent0_assists:
          type: integer
          minimum: 0
        opponent0_deaths:
          type: integer
          minimum: 0
        opponent0_game_paint_point:
          type: integer
          minimum: 0
        opponent0_kills:
          type: integer
          minimum: 0
        opponent0_specials:
          type: integer
          minimum: 0
        opponent0_headgear:
          type: string
          nullable: true
        opponent0_headgear_main:
          type: string
          nullable: true
        opponent0_headgear_sub0:
          type: string
          nullable: true
        opponent0_headgear_sub1:
          type: string
          nullable: true
        opponent0_headgear_sub2:
          type: string
          nullable: true
        opponent0_clothes:
          type: string
          nullable: true
        opponent0_clothes_main:
          type: string
          nullable: true
        opponent0_clothes_sub0:
          type: string
          nullable: true
        opponent0_clothes_sub1:
          type: string
          nullable: true
        opponent0_clothes_sub2:
          type: string
          nullable: true
        opponent0_shoes:
          type: string
          nullable: true
        opponent0_shoes_main:
          type: string
          nullable: true
        opponent0_shoes_sub0:
          type: string
          nullable: true
        opponent0_shoes_sub1:
          type: string
          nullable: true
        opponent0_shoes_sub2:
          type: string
          nullable: true
        opponent1_splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
        opponent1_name:
          type: string
        opponent1_rank:
          type: string
          enum:
            - C-
            - C
            - C+
            - B-
            - B
            - B+
            - A-
            - A
            - A+
            - S
            - S+
            - X
          nullable: true
        opponent1_level_star:
          type: integer
          minimum: 0
        opponent1_level:
          type: integer
          minimum: 1
          maximum: 99
        opponent1_weapon:
          type: string
        opponent1_gender:
          type: string
          enum:
            - boy
            - girl
        opponent1_species:
          type: string
          enum:
            - inkling
            - octoling
        opponent1_assists:
          type: integer
          minimum: 0
        opponent1_deaths:
          type: integer
          minimum: 0
        opponent1_game_paint_point:
          type: integer
          minimum: 0
        opponent1_kills:
          type: integer
          minimum: 0
        opponent1_specials:
          type: integer
          minimum: 0
        opponent1_headgear:
          type: string
          nullable: true
        opponent1_headgear_main:
          type: string
          nullable: true
        opponent1_headgear_sub0:
          type: string
          nullable: true
        opponent1_headgear_sub1:
          type: string
          nullable: true
        opponent1_headgear_sub2:
          type: string
          nullable: true
        opponent1_clothes:
          type: string
          nullable: true
        opponent1_clothes_main:
          type: string
          nullable: true
        opponent1_clothes_sub0:
          type: string
          nullable: true
        opponent1_clothes_sub1:
          type: string
          nullable: true
        opponent1_clothes_sub2:
          type: string
          nullable: true
        opponent1_shoes:
          type: string
          nullable: true
        opponent1_shoes_main:
          type: string
          nullable: true
        opponent1_shoes_sub0:
          type: string
          nullable: true
        opponent1_shoes_sub1:
          type: string
          nullable: true
        opponent1_shoes_sub2:
          type: string
          nullable: true
        opponent2_splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
        opponent2_name:
          type: string
        opponent2_rank:
          type: string
          enum:
            - C-
            - C
            - C+
            - B-
            - B
            - B+
            - A-
            - A
            - A+
            - S
            - S+
            - X
          nullable: true
        opponent2_level_star:
          type: integer
          minimum: 0
        opponent2_level:
          type: integer
          minimum: 1
          maximum: 99
        opponent2_weapon:
          type: string
        opponent2_gender:
          type: string
          enum:
            - boy
            - girl
        opponent2_species:
          type: string
          enum:
            - inkling
            - octoling
        opponent2_assists:
          type: integer
          minimum: 0
        opponent2_deaths:
          type: integer
          minimum: 0
        opponent2_game_paint_point:
          type: integer
          minimum: 0
        opponent2_kills:
          type: integer
          minimum: 0
        opponent2_specials:
          type: integer
          minimum: 0
        opponent2_headgear:
          type: string
          nullable: true
        opponent2_headgear_main:
          type: string
          nullable: true
        opponent2_headgear_sub0:
          type: string
          nullable: true
        opponent2_headgear_sub1:
          type: string
          nullable: true
        opponent2_headgear_sub2:
          type: string
          nullable: true
        opponent2_clothes:
          type: string
          nullable: true
        opponent2_clothes_main:
          type: string
          nullable: true
        opponent2_clothes_sub0:
          type: string
          nullable: true
        opponent2_clothes_sub1:
          type: string
          nullable: true
        opponent2_clothes_sub2:
          type: string
          nullable: true
        opponent2_shoes:
          type: string
          nullable: true
        opponent2_shoes_main:
          type: string
          nullable: true
        opponent2_shoes_sub0:
          type: string
          nullable: true
        opponent2_shoes_sub1:
          type: string
          nullable: true
        opponent2_shoes_sub2:
          type: string
          nullable: true
        opponent3_splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
        opponent3_name:
          type: string
        opponent3_rank:
          type: string
          enum:
            - C-
            - C
            - C+
            - B-
            - B
            - B+
            - A-
            - A
            - A+
            - S
            - S+
            - X
          nullable: true
        opponent3_level_star:
          type: integer
          minimum: 0
        opponent3_level:
          type: integer
          minimum: 1
          maximum: 99
        opponent3_weapon:
          type: string
        opponent3_gender:
          type: string
          enum:
            - boy
            - girl
        opponent3_species:
          type: string
          enum:
            - inkling
            - octoling
        opponent3_assists:
          type: integer
          minimum: 0
        opponent3_deaths:
          type: integer
          minimum: 0
        opponent3_game_paint_point:
          type: integer
          minimum: 0
        opponent3_kills:
          type: integer
          minimum: 0
        opponent3_specials:
          type: integer
          minimum: 0
        opponent3_headgear:
          type: string
          nullable: true
        opponent3_headgear_main:
          type: string
          nullable: true
        opponent3_headgear_sub0:
          type: string
          nullable: true
        opponent3_headgear_sub1:
          type: string
          nullable: true
        opponent3_headgear_sub2:
          type: string
          nullable: true
        opponent3_clothes:
          type: string
          nullable: true
        opponent3_clothes_main:
          type: string
          nullable: true
        opponent3_clothes_sub0:
          type: string
          nullable: true
        opponent3_clothes_sub1:
          type: string
          nullable: true
        opponent3_clothes_sub2:
          type: string
          nullable: true
        opponent3_shoes:
          type: string
          nullable: true
        opponent3_shoes_main:
          type: string
          nullable: true
        opponent3_shoes_sub0:
          type: string
          nullable: true
        opponent3_shoes_sub1:
          type: string
          nullable: true
        opponent3_shoes_sub2:
          type: string
          nullable: true
        teammate0_splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
        teammate0_name:
          type: string
        teammate0_rank:
          type: string
          enum:
            - C-
            - C
            - C+
            - B-
            - B
            - B+
            - A-
            - A
            - A+
            - S
            - S+
            - X
          nullable: true
        teammate0_level_star:
          type: integer
          minimum: 0
        teammate0_level:
          type: integer
          minimum: 1
          maximum: 99
        teammate0_weapon:
          type: string
        teammate0_gender:
          type: string
          enum:
            - boy
            - girl
        teammate0_species:
          type: string
          enum:
            - inkling
            - octoling
        teammate0_assists:
          type: integer
          minimum: 0
        teammate0_deaths:
          type: integer
          minimum: 0
        teammate0_game_paint_point:
          type: integer
          minimum: 0
        teammate0_kills:
          type: integer
          minimum: 0
        teammate0_specials:
          type: integer
          minimum: 0
        teammate0_headgear:
          type: string
          nullable: true
        teammate0_headgear_main:
          type: string
          nullable: true
        teammate0_headgear_sub0:
          type: string
          nullable: true
        teammate0_headgear_sub1:
          type: string
          nullable: true
        teammate0_headgear_sub2:
          type: string
          nullable: true
        teammate0_clothes:
          type: string
          nullable: true
        teammate0_clothes_main:
          type: string
          nullable: true
        teammate0_clothes_sub0:
          type: string
          nullable: true
        teammate0_clothes_sub1:
          type: string
          nullable: true
        teammate0_clothes_sub2:
          type: string
          nullable: true
        teammate0_shoes:
          type: string
          nullable: true
        teammate0_shoes_main:
          type: string
          nullable: true
        teammate0_shoes_sub0:
          type: string
          nullable: true
        teammate0_shoes_sub1:
          type: string
          nullable: true
        teammate0_shoes_sub2:
          type: string
          nullable: true
        teammate1_splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
        teammate1_name:
          type: string
        teammate1_rank:
          type: string
          enum:
            - C-
            - C
            - C+
            - B-
            - B
            - B+
            - A-
            - A
            - A+
            - S
            - S+
            - X
          nullable: true
        teammate1_level_star:
          type: integer
          minimum: 0
        teammate1_level:
          type: integer
          minimum: 1
          maximum: 99
        teammate1_weapon:
          type: string
        teammate1_gender:
          type: string
          enum:
            - boy
            - girl
        teammate1_species:
          type: string
          enum:
            - inkling
            - octoling
        teammate1_assists:
          type: integer
          minimum: 0
        teammate1_deaths:
          type: integer
          minimum: 0
        teammate1_game_paint_point:
          type: integer
          minimum: 0
        teammate1_kills:
          type: integer
          minimum: 0
        teammate1_specials:
          type: integer
          minimum: 0
        teammate1_headgear:
          type: string
          nullable: true
        teammate1_headgear_main:
          type: string
          nullable: true
        teammate1_headgear_sub0:
          type: string
          nullable: true
        teammate1_headgear_sub1:
          type: string
          nullable: true
        teammate1_headgear_sub2:
          type: string
          nullable: true
        teammate1_clothes:
          type: string
          nullable: true
        teammate1_clothes_main:
          type: string
          nullable: true
        teammate1_clothes_sub0:
          type: string
          nullable: true
        teammate1_clothes_sub1:
          type: string
          nullable: true
        teammate1_clothes_sub2:
          type: string
          nullable: true
        teammate1_shoes:
          type: string
          nullable: true
        teammate1_shoes_main:
          type: string
          nullable: true
        teammate1_shoes_sub0:
          type: string
          nullable: true
        teammate1_shoes_sub1:
          type: string
          nullable: true
        teammate1_shoes_sub2:
          type: string
          nullable: true
        teammate2_splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
        teammate2_name:
          type: string
        teammate2_rank:
          type: string
          enum:
            - C-
            - C
            - C+
            - B-
            - B
            - B+
            - A-
            - A
            - A+
            - S
            - S+
            - X
          nullable: true
        teammate2_level_star:
          type: integer
          minimum: 0
        teammate2_level:
          type: integer
          minimum: 1
          maximum: 99
        teammate2_weapon:
          type: string
        teammate2_gender:
          type: string
          enum:
            - boy
            - girl
        teammate2_species:
          type: string
          enum:
            - inkling
            - octoling
        teammate2_assists:
          type: integer
          minimum: 0
        teammate2_deaths:
          type: integer
          minimum: 0
        teammate2_game_paint_point:
          type: integer
          minimum: 0
        teammate2_kills:
          type: integer
          minimum: 0
        teammate2_specials:
          type: integer
          minimum: 0
        teammate2_headgear:
          type: string
          nullable: true
        teammate2_headgear_main:
          type: string
          nullable: true
        teammate2_headgear_sub0:
          type: string
          nullable: true
        teammate2_headgear_sub1:
          type: string
          nullable: true
        teammate2_headgear_sub2:
          type: string
          nullable: true
        teammate2_clothes:
          type: string
          nullable: true
        teammate2_clothes_main:
          type: string
          nullable: true
        teammate2_clothes_sub0:
          type: string
          nullable: true
        teammate2_clothes_sub1:
          type: string
          nullable: true
        teammate2_clothes_sub2:
          type: string
          nullable: true
        teammate2_shoes:
          type: string
          nullable: true
        teammate2_shoes_main:
          type: string
          nullable: true
        teammate2_shoes_sub0:
          type: string
          nullable: true
        teammate2_shoes_sub1:
          type: string
          nullable: true
        teammate2_shoes_sub2:
          type: string
          nullable: true
        player_name:
          type: string
        player_rank:
          type: string
          enum:
            - C-
            - C
            - C+
            - B-
            - B
            - B+
            - A-
            - A
            - A+
            - S
            - S+
            - X
          nullable: true
        player_level_star:
          type: integer
          minimum: 0
        player_level:
          type: integer
          minimum: 1
          maximum: 99
        player_weapon:
          type: string
        player_gender:
          type: string
          enum:
            - boy
            - girl
        player_species:
          type: string
          enum:
            - inkling
            - octoling
        player_assists:
          type: integer
          minimum: 0
        player_deaths:
          type: integer
          minimum: 0
        player_game_paint_point:
          type: integer
          minimum: 0
        player_kills:
          type: integer
          minimum: 0
        player_specials:
          type: integer
          minimum: 0
        player_headgear:
          type: string
          nullable: true
        player_headgear_main:
          type: string
          nullable: true
        player_headgear_sub0:
          type: string
          nullable: true
        player_headgear_sub1:
          type: string
          nullable: true
        player_headgear_sub2:
          type: string
          nullable: true
        player_clothes:
          type: string
          nullable: true
        player_clothes_main:
          type: string
          nullable: true
        player_clothes_sub0:
          type: string
          nullable: true
        player_clothes_sub1:
          type: string
          nullable: true
        player_clothes_sub2:
          type: string
          nullable: true
        player_shoes:
          type: string
          nullable: true
        player_shoes_main:
          type: string
          nullable: true
        player_shoes_sub0:
          type: string
          nullable: true
        player_shoes_sub1:
          type: string
          nullable: true
        player_shoes_sub2:
          type: string
          nullable: true
    battleSplatnet:
      type: object
      properties:
        udemae:
          $ref: "#/components/schemas/udemae"
        stage:
          $ref: "#/components/schemas/splatnetTriple"
        other_team_count:
          type: integer
          minimum: 0
          maximum: 100
        my_team_count:
          type: integer
          maximum: 100
          minimum: 0
        star_rank:
          type: integer
          minimum: 0
        rule:
          $ref: "#/components/schemas/rule"
        player_result:
          $ref: "#/components/schemas/playerResult"
        estimate_gachi_power:
          type: integer
          nullable: true
          minimum: 0
        elapsed_time:
          type: integer
          minimum: 0
          maximum: 420
        start_time:
          type: integer
        game_mode:
          $ref: "#/components/schemas/splatnetDouble"
        x_power:
          type: object
          nullable: true
        battle_number:
          type: string
        type:
          type: string
        player_rank:
          type: integer
          minimum: 1
          maximum: 99
        crown_players:
          type: object
          nullable: true
        my_team_members:
          type: array
          items:
            $ref: "#/components/schemas/playerResult"
          maxItems: 3
        other_team_members:
          type: array
          items:
            $ref: "#/components/schemas/playerResult"
          maxItems: 4
        weapon_paint_point:
          type: integer
          minimum: 0
        rank:
          type: object
          nullable: true
        my_team_result:
          $ref: "#/components/schemas/splatnetDouble"
        estimate_x_power:
          type: object
          nullable: true
        other_team_result:
          $ref: "#/components/schemas/splatnetDouble"
        league_point:
          type: number
          nullable: true
        win_meter:
          type: number
          minimum: 0
          maximum: 99.5
        my_team_percentage:
          type: number
          minimum: 0
          maximum: 100
        other_team_percentage:
          type: number
          minimum: 0
          maximum: 100
        tag_id:
          type: string
    udemae:
      type: object
      properties:
        name:
          type: string
        is_x:
          type: boolean
        is_number_reached:
          type: boolean
        number:
          type: integer
          minimum: 0
          maximum: 20
        s_plus_number:
          type: integer
          minimum: 0
          maximum: 9
          nullable: true
    skills:
      type: object
      properties:
        main:
          $ref: "#/components/schemas/splatnetTriple"
        subs:
          type: array
          items:
            $ref: "#/components/schemas/splatnetTriple"
          maxItems: 3
    splatnetTriple:
      type: object
      properties:
        id:
          type: string
        image:
          type: string
        name:
          type: string
    rule:
      allOf:
        - $ref: "#/components/schemas/splatnetDouble"
        - type: object
          properties:
            multiline_name:
              type: string
    playerResult:
      type: object
      properties:
        death_count:
          type: integer
          minimum: 0
        game_paint_point:
          type: integer
          minimum: 0
        kill_count:
          type: integer
          minimum: 0
        special_count:
          type: integer
          minimum: 0
        assist_count:
          type: integer
          minimum: 0
        sort_score:
          type: integer
          minimum: 0
          maximum: 3
        player:
          $ref: "#/components/schemas/player"
    player:
      type: object
      properties:
        head_skills:
          $ref: "#/components/schemas/skills"
        shoes_skills:
          $ref: "#/components/schemas/skills"
        clothes_skills:
          $ref: "#/components/schemas/skills"
        player_rank:
          type: integer
          minimum: 1
          maximum: 99
        star_rank:
          type: integer
          minimum: 0
        nickname:
          type: string
        player_type:
          $ref: "#/components/schemas/playerType"
        principal_id:
          type: string
        head:
          $ref: "#/components/schemas/clothing"
        clothes:
          $ref: "#/components/schemas/clothing"
        shoes:
          $ref: "#/components/schemas/clothing"
        udemae:
          $ref: "#/components/schemas/udemae"
        weapon:
          $ref: "#/components/schemas/weapon"
    playerType:
      type: object
      properties:
        gender:
          type: string
        species:
          type: string
    clothing:
      allOf:
        - $ref: "#/components/schemas/splatnetTriple"
        - type: object
          properties:
            thumbnail:
              type: string
            kind:
              type: string
            rarity:
              type: integer
            brand:
              $ref: "#/components/schemas/brand"
    brand:
      allOf:
        - $ref: "#/components/schemas/splatnetTriple"
        - type: object
          properties:
            frequent_skill:
              $ref: "#/components/schemas/splatnetTriple"
    weapon:
      allOf:
        - $ref: "#/components/schemas/splatnetTriple"
        - type: object
          properties:
            thumbnail:
              type: string
            sub:
              $ref: "#/components/schemas/splatnetQuad"
            special:
              $ref: "#/components/schemas/splatnetQuad"
    splatnetQuad:
      type: object
      properties:
        id:
          type: string
        image_a:
          type: string
        image_b:
          type: string
        name:
          type: string
    splatnetDouble:
      type: object
      properties:
        key:
          type: string
        name:
          type: string
    battleStatInk:
      type: object
      properties:
        id:
          type: integer
          minimum: 0
        splatnet_number:
          type: integer
          minimum: 0
        url:
          type: string
          format: uri
        user:
          $ref: "#/components/schemas/statInkUser"
        lobby:
          $ref: "#/components/schemas/statInkKeyName"
        mode:
          $ref: "#/components/schemas/statInkKeyName"
        rule:
          $ref: "#/components/schemas/statInkKeyName"
        map:
          $ref: "#/components/schemas/statInkMap"
        weapon:
          $ref: "#/components/schemas/statInkWeapon"
        freshness:
          $ref: "#/components/schemas/statInkFreshness"
        rank:
          $ref: "#/components/schemas/statInkRank"
        rank_exp:
          type: integer
          nullable: true
        rank_after:
          $ref: "#/components/schemas/statInkRank"
        x_power:
          type: object
          nullable: true
        x_power_after:
          type: object
          nullable: true
        estimate_x_power:
          type: object
          nullable: true
        level:
          type: integer
        level_after:
          type: integer
        star_rank:
          type: integer
        result:
          type: string
        knock_out:
          type: boolean
          nullable: true
        rank_in_team:
          type: integer
          minimum: 1
          maximum: 4
          nullable: true
        kill:
          type: integer
          minimum: 0
        death:
          type: integer
          minimum: 0
        kill_or_assist:
          type: integer
          minimum: 0
        special:
          type: integer
          minimum: 0
        kill_ratio:
          type: number
        kill_rate:
          type: number
        max_kill_combo:
          type: object
          nullable: true
        max_kill_streak:
          type: object
          nullable: true
        death_reasons:
          type: object
          nullable: true
        my_point:
          type: integer
          minimum: 0
        estimate_gachi_power:
          type: integer
          minimum: 0
          nullable: true
        league_point:
          type: string
          nullable: true
        my_team_estimate_league_point:
          type: integer
          nullable: true
        his_team_estimate_league_point:
          type: integer
          nullable: true
        my_team_point:
          type: object
          nullable: true
        his_team_point:
          nullable: true
        my_team_percent:
          type: string
          nullable: true
        his_team_percent:
          type: string
          nullable: true
        my_team_id:
          type: string
          nullable: true
        his_team_id:
          type: string
          nullable: true
        species:
          $ref: "#/components/schemas/statInkKeyName"
        gender:
          $ref: "#/components/schemas/statInkGender"
        fest_title:
          $ref: "#/components/schemas/statInkKeyName"
        fest_exp:
          type: integer
          nullable: true
        fest_title_after:
          $ref: "#/components/schemas/statInkKeyName"
        fest_exp_after:
          type: integer
          nullable: true
        fest_power:
          type: string
          nullable: true
        my_team_estimate_fest_power:
          type: integer
          nullable: true
        his_team_my_team_estimate_fest_power:
          type: integer
          nullable: true
        my_team_fest_theme:
          type: string
          nullable: true
        my_team_nickname:
          type: string
          nullable: true
        his_team_nickname:
          type: string
          nullable: true
        clout:
          type: integer
          nullable: true
        total_clout:
          type: integer
          nullable: true
        total_clout_after:
          type: integer
          nullable: true
        my_team_win_streak:
          type: integer
          nullable: true
        his_team_win_streak:
          type: integer
          nullable: true
        synergy_bonus:
          type: number
          nullable: true
        special_battle:
          allOf:
          - $ref: "#/components/schemas/statInkKeyName"
          - nullable: true
        image_result:
          type: string
          nullable: true
        image_gear:
          type: string
          nullable: true
        gears:
          $ref: "#/components/schemas/statInkGears"
        period:
          type: integer
        period_range:
          type: string
        players:
          type: array
          items:
            $ref: "#/components/schemas/statInkPlayer"
          maxItems: 8
        events:
          type: object
          nullable: true
        splatnet_json:
          type: object
          nullable: true
        agent:
          $ref: "#/components/schemas/statInkAgent"
        automated:
          type: boolean
        environment:
          type: object
          nullable: true
        link_url:
          type: string
          format: uri
          nullable: true
        note:
          type: object
          nullable: true
        game_version:
          type: string
        nawabari_bonus:
          type: integer
          nullable: true
        start_at:
          $ref: "#/components/schemas/statInkTime"
        end_at:
          $ref: "#/components/schemas/statInkTime"
        register_at:
          $ref: "#/components/schemas/statInkTime"
      example:
        id: 790664
        splatnet_number: 657
        url: "https://stat.ink/@MunchingCass/spl2/790664"
        user:
          $ref: "#/components/schemas/statInkUser/example"
        lobby:
          $ref: "#/components/schemas/statInkKeyName/example"
        mode:
          $ref: "#/components/schemas/statInkKeyName/example"
        rule:
          $ref: "#/components/schemas/statInkKeyName/example"
        map:
          $ref: "#/components/schemas/statInkMap/example"
        weapon:
          $ref: "#/components/schemas/statInkWeapon/example"
        freshness:
          $ref: "#/components/schemas/statInkFreshness/example"
        rank:
          $ref: "#/components/schemas/statInkRank/example"
        rank_exp: 1
        rank_after:
          $ref: "#/components/schemas/statInkRank/example"
        rank_exp_after: 2
        x_power: null
        x_power_after: null
        estimate_x_power: null
        level: 31
        level_after: 31
        star_rank: 0
        result: lose
        knock_out: true
        rank_in_team: null
        kill: 5
        death: 5
        kill_or_assist: 5
        special: 0
        kill_ratio: 1
        kill_rate: 0.5
        max_kill_combo: null
        max_kill_streak: null
        death_reasons: null
        my_point: 381
        estiamte_gachi_power: 1570
        league_point: "1872.5"
        my_team_estimate_league_point: 2060
        his_team_estimate_league_point: 2010
        my_team_point: null
        his_team_point: null
        my_team_percent: "58.2"
        his_team_percent: "29.9"
        my_team_id: "3IgsPttLKlx"
        his_team_id: null
        species:
          $ref: "#/components/schemas/statInkKeyName/example"
        gender:
          $ref: "#/components/schemas/statInkGender/example"
        fest_title:
          $ref: "#/components/schemas/statInkKeyName/example"
        fest_exp: 0
        fest_title_after:
          $ref: "#/components/schemas/statInkKeyName/example"
        fest_exp_after: 0
        fest_power: "0.0"
        my_team_estimate_fest_power: 1850
        his_team_my_team_estimate_fest_power: 1900
        my_team_fest_theme: Chaos
        his_team_fest_theme: Order
        my_team_nickname: "The\u00a0Jetflame Shadowpunk Custom-Dualie-Squelcher Lady\u00a0Squad"
        his_team_nickname: "The\u00a0Squid\u00a0Squad"
        clout: 2069
        total_clout: 50485
        total_clout_after: 52554
        my_team_win_streak: 0
        his_team_win_streak: 0
        synergy_bonus: 1.2
        special_battle:
          $ref: "#/components/schemas/statInkKeyName/example"
        image_result: "https://img.stat.ink/p6/p6yau4fayvcu7d4ickdkkjckxq.jpg"
        image_gear: "https://img.stat.ink/gi/gi4cauq5z5dyzotlxqtxtn5b7e.jpg"
        gears:
          $ref: "#/components/schemas/statInkGears/example"
        period: 212046
        period_range: "2018-05-19T12:00:00+00:00/2018-05-19T14:00:00+00:00"
    statInkUser:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        screen_name:
          type: string
        url:
          type: string
          format: uri
        join_at:
          $ref: "#/components/schemas/statInkTime"
        profile:
          $ref: "#/components/schemas/statInkProfile"
        stat:
          type: object
          nullable: true
        stats:
          $ref: "#/components/schemas/statInkStats"
      example:
        id: 9568
        name: "Cass, the Fae"
        screen_name: "MunchingCass"
        url: "https://stat.ink/@MunchingCass"
        join_at:
          $ref: "#/components/schemas/statInkTime/example"
        profile:
          $ref: "#/components/schemas/statInkProfile/example"
        stat: null
        stats:
          $ref: "#/components/schemas/statInkStats/example"
    statInkTime:
      type: object
      properties:
        time:
          type: integer
        iso8601:
          type: string
          format: date-time
      example:
        time: 1527811200
        iso8601: "2018-06-01T00:00:00Z"
    statInkProfile:
      type: object
      properties:
        nnid:
          type: object
          nullable: true
        friend_code:
          type: string
          nullable: true
        twitter:
          type: object
          nullable: true
        ikanakama:
          type: object
          nullable: true
        ikanakama2:
          type: object
          nullable: true
        environment:
          type: object
          nullable: true
      example:
        nnid: null
        friend_code: SW-3454-6911-0516
        twitter: null
        ikanakama: null
        ikanakama2: null
        environment: null
    statInkStats:
      type: object
      properties:
        v1:
          type: object
          nullable: true
        v2:
          $ref: "#/components/schemas/statInkV2"
      example:
        v1: null
        v2:
          $ref: "#/components/schemas/statInkV2/example"
    statInkV2:
      type: object
      properties:
        updated_at:
          $ref: "#/components/schemas/statInkTime"
        entire:
          $ref: "#/components/schemas/statInkEntire"
        nawabari:
          $ref: "#/components/schemas/statInkNawabari"
        gachi:
          $ref: "#/components/schemas/statInkGachi"
      example:
        updated_at:
          $ref: "#/components/schemas/statInkTime/example"
        entire:
          $ref: "#/components/schemas/statInkEntire/example"
        nawabari:
          $ref: "#/components/schemas/statInkNawabari/example"
        gachi:
          $ref: "#/components/schemas/statInkGachi/example"
    statInkEntire:
      type: object
      properties:
        battles:
          type: integer
        win_pct:
          type: number
        kill_ratio:
          type: number
        kill_total:
          type: integer
        kill_avg:
          type: number
        kill_per_min:
          type: number
        death_total:
          type: integer
        death_avg:
          type: number
        death_per_min:
          type: number
      example:
        battles: 4448
        win_pct: 48.78597122302158
        kill_ratio: 0.69
        kill_total: 25647
        kill_avg: 5.773750562809545
        kill_per_min: 1.5879364627286603
        death_total: 36940
        death_avg: 8.316073840612336
        death_per_min: 2.2871436399265686
    statInkNawabari:
      allOf:
        - $ref: "#/components/schemas/statInkEntire"
        - type: object
          properties:
            total_inked:
              type: integer
            max_inked:
              type: integer
            avg_inked:
              type: number
      example:
        allOf:
        - $ref: "#/components/schemas/statInkEntire/example"
        - total_inked: 1096372
        - max_inked: 1414
        - avg_inked: 783.1228571428571
    statInkGachi:
      allOf:
        - $ref: "#/components/schemas/statInkEntire"
        - type: object
          properties:
            rules:
              $ref: "#/components/schemas/statInkRules"
      example:
        allOf:
        - $ref: "#/components/schemas/statInkEntire/example"
        - rules:
            $ref: "#/components/schemas/statInkRules/example"
    statInkRules:
      type: object
      properties:
        area:
          $ref: "#/components/schemas/statInkRulesSub"
        yagura:
          $ref: "#/components/schemas/statInkRulesSub"
        hoko:
          $ref: "#/components/schemas/statInkRulesSub"
        asari:
          $ref: "#/components/schemas/statInkRulesSub"
      example:
        area:
          $ref: "#/components/schemas/statInkRulesSub/example"
        yagura:
          $ref: "#/components/schemas/statInkRulesSub/example"
        hoko:
          $ref: "#/components/schemas/statInkRulesSub/example"
        asari:
          $ref: "#/components/schemas/statInkRulesSub/example"
    statInkRulesSub:
      type: object
      properties:
        rank_peak:
          type: string
        rank_current:
          type: string
        x_power_peak:
          type: object
          nullable: true
        x_power_current:
          type: object
          nullable: true
      example:
        rank_peak: S+ 3
        rank_current: S+ 2
        x_power_peak: null
        x_power_current: null
    statInkKeyName:
      type: object
      properties:
        key:
          type: string
        name:
          $ref: "#/components/schemas/statInkName"
      example:
        key: gachi
        name:
          $ref: "#/components/schemas/statInkName/example"
    statInkName:
      type: object
      properties:
        de_DE:
          type: string
        en_GB:
          type: string
        en_US:
          type: string
        es_ES:
          type: string
        es_MX:
          type: string
        fr_CA:
          type: string
        fr_FR:
          type: string
        it_IT:
          type: string
        ja_JP:
          type: string
        nl_NL:
          type: string
        ru_RU:
          type: string
        zh_CN:
          type: string
        zh_TW:
          type: string
      example:
        de_DE: Rangkampf
        en_GB: Ranked Battle
        en_US: Ranked Battle
        es_ES: Combate competitivo
        es_MX: Combate competitivo
        fr_CA: Match pro
        fr_FR: Match pro
        it_IT: Partita pro
        ja_JP: ガチマッチ
        nl_NL: Profgevecht
        ru_RU: Бой элиты
        zh_CN: 排名比赛
        zh_TW: 排名比賽
    statInkMap:
      allOf:
        - $ref: "#/components/schemas/statInkKeyName"
        - type: object
          properties:
            splatnet:
              type: integer
            area:
              type: integer
            release_at:
              $ref: "#/components/schemas/statInkTime"
            short_name:
              $ref: "#/components/schemas/statInkName"
      example:
        key: gachi
        name:
          $ref: "#/components/schemas/statInkName/example"
        splatnet: 20
        area: 2858
        short_name:
          $ref: "#/components/schemas/statInkName/example"
        release_at:
          $ref: "#/components/schemas/statInkTime/example"
    statInkWeapon:
      allOf:
        - $ref: "#/components/schemas/statInkKeyName"
        - type: object
          properties:
            splatnet:
              type: integer
            type:
              $ref: "#/components/schemas/statInkWeaponType"
            reskin_of:
              type: string
            main_ref:
              type: string
            sub:
              $ref: "#/components/schemas/statInkKeyName"
            special:
              $ref: "#/components/schemas/statInkKeyName"
            main_power_up:
              $ref: "#/components/schemas/statInkKeyName"
      example:
        key: gachi
        name:
          $ref: "#/components/schemas/statInkName/example"
        splatnet: 45
        reskin_of: sshooter
        main_ref: sshooter
        type:
          $ref: "#/components/schemas/statInkWeaponType/example"
        sub:
          $ref: "#/components/schemas/statInkKeyName/example"
        special:
          $ref: "#/components/schemas/statInkKeyName/example"
        main_power_up:
          $ref: "#/components/schemas/statInkKeyName/example"
    statInkWeaponType:
      allOf:
        - $ref: "#/components/schemas/statInkKeyName"
        - type: object
          properties:
            category:
              $ref: "#/components/schemas/statInkKeyName"
      example:
        key: gachi
        name:
          $ref: "#/components/schemas/statInkName/example"
        category:
          $ref: "#/components/schemas/statInkKeyName/example"
    statInkFreshness:
      type: object
      properties:
        freshness:
          type: number
        title:
          $ref: "#/components/schemas/statInkName"
      example:
        freshness: 99.5
        title:
          $ref: "#/components/schemas/statInkName/example"
    statInkRank:
      allOf:
        - $ref: "#/components/schemas/statInkKeyName"
        - type: object
          properties:
            zone:
              $ref: "#/components/schemas/statInkKeyName"
      example:
        key: a-
        name:
          $ref: "#/components/schemas/statInkName/example"
        zone:
          $ref: "#/components/schemas/statInkKeyName/example"
    statInkGender:
      type: object
      properties:
        key:
          type: string
        name:
          $ref: "#/components/schemas/statInkName"
        iso5218:
          type: integer
      example:
        key: girl
        name:
          $ref: "#/components/schemas/statInkName/example"
        iso5218: 2
    statInkGears:
      type: object
      properties:
        headgear:
          $ref: "#/components/schemas/statInkClothes"
        clothing:
          $ref: "#/components/schemas/statInkClothes"
        shoes:
          $ref: "#/components/schemas/statInkClothes"
      example:
        headgear:
          $ref: "#/components/schemas/statInkClothes/example"
        clothing:
          $ref: "#/components/schemas/statInkClothes/example"
        shoes:
          $ref: "#/components/schemas/statInkClothes/example"
    statInkClothes:
      type: object
      properties:
        gear:
          $ref: "#/components/schemas/statInkGear"
        primary_ability:
          $ref: "#/components/schemas/statInkKeyName"
        secondary_abilities:
          type: array
          items:
            $ref: "#/components/schemas/statInkKeyName"
          maxItems: 3
      example:
        gear:
          $ref: "#/components/schemas/statInkGear/example"
        primary_ability:
          $ref: "#/components/schemas/statInkKeyName/example"
        secondary_abilities:
          - $ref: "#/components/schemas/statInkKeyName/example"
    statInkGear:
      allOf:
        - $ref: "#/components/schemas/statInkKeyName"
        - type: object
          properties:
            splatnet:
              type: integer
            type:
              $ref: "#/components/schemas/statInkKeyName"
            brand:
              $ref: "#/components/schemas/statInkKeyName"
            primary_ability:
              $ref: "#/components/schemas/statInkKeyName"
      example:
        splatnet: 2002
        key: striped_beanie
        name:
          $ref: "#/components/schemas/statInkName/example"
        type:
          $ref: "#/components/schemas/statInkName/example"
        brand:
          $ref: "#/components/schemas/statInkName/example"
        primary_ability:
          $ref: "#/components/schemas/statInkName/example"
    statInkPlayer:
      type: object
      properties:
        team:
          type: string
        is_me:
          type: boolean
        weapon:
          $ref: "#/components/schemas/statInkWeapon"
        level:
          type: integer
          minimum: 1
          maximum: 99
        rank:
          allOf:
          - $ref: "#/components/schemas/statInkRank"
          - nullable: true
        star_rank:
          type: integer
          minimum: 0
        rank_in_team:
          type: integer
          minimum: 1
          maximum: 4
          nullable: true
        kill:
          type: integer
          minimum: 0
        death:
          type: integer
          minimum: 0
        kill_or_assist:
          type: integer
          minimum: 0
        special:
          type: integer
          minimum: 0
        my_kill:
          type: object
          nullable: true
        point:
          type: integer
          minimum: 0
        name:
          type: string
        species:
          $ref: "#/components/schemas/statInkKeyName"
        gender:
          $ref: "#/components/schemas/statInkGender"
        fest_title:
          $ref: "#/components/schemas/statInkKeyName"
        splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
        top_500:
          type: boolean
        icon:
          type: string
    statInkAgent:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        game_version:
          type: object
          nullable: true
        game_version_date:
          type: object
          nullable: true
        custom:
          type: object
          nullable: true
        variables:
          allOf:
          - $ref: "#/components/schemas/statInkVariables"
          - nullable: true
    statInkVariables:
      type: object
      properties:
        upload_mode:
          type: string
    Shift:
      type: object
      required:
        - player_splatnet_id
        - job_id
        - splatnet_upload
        - stat_ink_upload
      properties:
        player_splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
        job_id:
          type: integer
          minimum: 0
        splatnet_upload:
          type: boolean
        stat_ink_upload:
          type: boolean
        splatnet_json:
          allOf:
          - $ref: "#/components/schemas/splatnetShift"
          - nullable: true
        stat_ink_json:
          allOf:
          - $ref: "#/components/schemas/statInkShift"
          - nullable: true
        start_time:
          type: integer
          minimum: 0
          nullable: true
        play_time:
          type: integer
          minimum: 0
        end_time:
          type: integer
          minimum: 0
          nullable: true
        danger_rate:
          type: number
          minimum: 0
          maximum: 200
        is_clear:
          type: boolean
        job_failure_reason:
          type: string
          enum:
            - time_limit
            - wipe_out
        failure_wave:
          type: integer
          minimum: 1
          maximum: 3
          nullable: true
        grade_point:
          type: integer
          minimum: 0
          maximum: 999
        grade_point_delta:
          type: integer
          enum:
            - -20
            - -10
            - -5
            - 0
            - 20
        job_score:
          type: integer
          minimum: 0
          nullable: true
        drizzler_count:
          type: integer
          minimum: 0
        flyfish_count:
          type: integer
          minimum: 0
        goldie_count:
          type: integer
          minimum: 0
        griller_count:
          type: integer
          minimum: 0
        maws_count:
          type: integer
          minimum: 0
        scrapper_count:
          type: integer
          minimum: 0
        steel_eel_count:
          type: integer
          minimum: 0
        steelhead_count:
          type: integer
          minimum: 0
        stinger_count:
          type: integer
          minimum: 0
        stage:
          type: string
          enum:
            - Salmonid Smokeyard
            - Ruins of Ark Polaris
            - Spawning Grounds
            - Marooner's Bay
            - Lost Outpost
        player_name:
          type: string
        player_death_count:
          type: integer
          minimum: 0
        player_revive_count:
          type: integer
          minimum: 0
        player_golden_eggs:
          type: integer
          minimum: 0
        player_power_eggs:
          type: integer
          minimum: 0
        player_special:
          type: string
          enum:
            - Splat-Bomb Launcher
            - Sting Ray
            - Inkjet
            - Splashdown
        player_title:
          type: string
          enum:
            - Apprentice
            - Part Timer
            - Go Getter
            - Overachiever
            - Profreshional
        player_species:
          type: string
          enum:
            - inkling
            - octoling
          nullable: true
        player_gender:
          type: string
          enum:
            - boy
            - girl
          nullable: true
        player_w1_specials:
          type: integer
          minimum: 0
          maximum: 2
        player_w2_specials:
          type: integer
          minimum: 0
          maximum: 2
          nullable: true
        player_w3_specials:
          type: integer
          minimum: 0
          maximum: 2
          nullable: true
        player_w1_weapon:
          $ref: "#/components/schemas/salmonWeaponEnum"
        player_w2_weapon:
          allOf:
          - $ref: "#/components/schemas/salmonWeaponEnum"
          - nullable: true
        player_w3_weapon:
          allOf:
          - $ref: "#/components/schemas/salmonWeaponEnum"
          - nullable: true
        player_drizzler_kills:
          type: integer
          minimum: 0
        player_flyfish_kills:
          type: integer
          minimum: 0
        player_goldie_kills:
          type: integer
          minimum: 0
        player_griller_kills:
          type: integer
          minimum: 0
        player_maws_kills:
          type: integer
          minimum: 0
        player_scrapper_kills:
          type: integer
          minimum: 0
        player_steel_eel_kills:
          type: integer
          minimum: 0
        player_steelhead_kills:
          type: integer
          minimum: 0
        player_stinger_kills:
          type: integer
          minimum: 0
        teammate_0_splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
          nullable: true
        teammate_0_name:
          type: string
          nullable: true
        teammate_0_death_count:
          type: integer
          minimum: 0
          nullable: true
        teammate_0_revive_count:
          type: integer
          minimum: 0
          nullable: true
        teammate_0_golden_eggs:
          type: integer
          minimum: 0
          nullable: true
        teammate_0_power_eggs:
          type: integer
          minimum: 0
          nullable: true
        teammate_0_special:
          type: string
          enum:
            - Splat-Bomb Launcher
            - Sting Ray
            - Inkjet
            - Splashdown
          nullable: true
        teammate_0_species:
          type: string
          enum:
            - inkling
            - octoling
          nullable: true
        teammate_0_gender:
          type: string
          enum:
            - boy
            - girl
          nullable: true
        teammate_0_w1_specials:
          type: integer
          minimum: 0
          maximum: 2
          nullable: true
        teammate_0_w2_specials:
          type: integer
          minimum: 0
          maximum: 2
          nullable: true
        teammate_0_w3_specials:
          type: integer
          minimum: 0
          maximum: 2
          nullable: true
        teammate_0_w1_weapon:
          allOf:
            - $ref: "#/components/schemas/salmonWeaponEnum"
            - nullable: true
        teammate_0_w2_weapon:
          allOf:
            - $ref: "#/components/schemas/salmonWeaponEnum"
            - nullable: true
        teammate_0_w3_weapon:
          allOf:
            - $ref: "#/components/schemas/salmonWeaponEnum"
            - nullable: true
        teammate_0_drizzler_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_0_flyfish_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_0_goldie_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_0_griller_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_0_maws_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_0_scrapper_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_0_steel_eel_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_0_steelhead_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_0_stinger_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_1_splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
          nullable: true
        teammate_1_name:
          type: string
          nullable: true
        teammate_1_death_count:
          type: integer
          minimum: 0
          nullable: true
        teammate_1_revive_count:
          type: integer
          minimum: 0
          nullable: true
        teammate_1_golden_eggs:
          type: integer
          minimum: 0
          nullable: true
        teammate_1_power_eggs:
          type: integer
          minimum: 0
          nullable: true
        teammate_1_special:
          type: string
          enum:
            - Splat-Bomb Launcher
            - Sting Ray
            - Inkjet
            - Splashdown
          nullable: true
        teammate_1_species:
          type: string
          enum:
            - inkling
            - octoling
          nullable: true
        teammate_1_gender:
          type: string
          enum:
            - boy
            - girl
          nullable: true
        teammate_1_w1_specials:
          type: integer
          minimum: 0
          maximum: 2
          nullable: true
        teammate_1_w2_specials:
          type: integer
          minimum: 0
          maximum: 2
          nullable: true
        teammate_1_w3_specials:
          type: integer
          minimum: 0
          maximum: 2
          nullable: true
        teammate_1_w1_weapon:
          allOf:
            - $ref: "#/components/schemas/salmonWeaponEnum"
            - nullable: true
        teammate_1_w2_weapon:
          allOf:
            - $ref: "#/components/schemas/salmonWeaponEnum"
            - nullable: true
        teammate_1_w3_weapon:
          allOf:
            - $ref: "#/components/schemas/salmonWeaponEnum"
            - nullable: true
        teammate_1_drizzler_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_1_flyfish_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_1_goldie_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_1_griller_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_1_maws_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_1_scrapper_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_1_steel_eel_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_1_steelhead_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_1_stinger_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_2_splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
          nullable: true
        teammate_2_name:
          type: string
          nullable: true
        teammate_2_death_count:
          type: integer
          minimum: 0
          nullable: true
        teammate_2_revive_count:
          type: integer
          minimum: 0
          nullable: true
        teammate_2_golden_eggs:
          type: integer
          minimum: 0
          nullable: true
        teammate_2_power_eggs:
          type: integer
          minimum: 0
          nullable: true
        teammate_2_special:
          type: string
          enum:
            - Splat-Bomb Launcher
            - Sting Ray
            - Inkjet
            - Splashdown
          nullable: true
        teammate_2_species:
          type: string
          enum:
            - inkling
            - octoling
          nullable: true
        teammate_2_gender:
          type: string
          enum:
            - boy
            - girl
          nullable: true
        teammate_2_w1_specials:
          type: integer
          minimum: 0
          maximum: 2
        teammate_2_w2_specials:
          type: integer
          minimum: 0
          maximum: 2
          nullable: true
        teammate_2_w3_specials:
          type: integer
          minimum: 0
          maximum: 2
          nullable: true
        teammate_2_w1_weapon:
          allOf:
            - $ref: "#/components/schemas/salmonWeaponEnum"
            - nullable: true
        teammate_2_w2_weapon:
          allOf:
            - $ref: "#/components/schemas/salmonWeaponEnum"
            - nullable: true
        teammate_2_w3_weapon:
          allOf:
            - $ref: "#/components/schemas/salmonWeaponEnum"
            - nullable: true
        teammate_2_drizzler_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_2_flyfish_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_2_goldie_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_2_griller_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_2_maws_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_2_scrapper_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_2_steel_eel_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_2_steelhead_kills:
          type: integer
          minimum: 0
          nullable: true
        teammate_2_stinger_kills:
          type: integer
          minimum: 0
          nullable: true
        schedule_end_time:
          type: integer
          minimum: 0
          nullable: true
        schedule_start_time:
          type: integer
          minimum: 0
        schedule_weapon_0:
          allOf:
            - $ref: "#/components/schemas/salmonWeaponScheduleEnum"
            - nullable: true
        schedule_weapon_1:
          allOf:
            - $ref: "#/components/schemas/salmonWeaponScheduleEnum"
            - nullable: true
        schedule_weapon_2:
          allOf:
            - $ref: "#/components/schemas/salmonWeaponScheduleEnum"
            - nullable: true
        schedule_weapon_3:
          allOf:
            - $ref: "#/components/schemas/salmonWeaponScheduleEnum"
            - nullable: true
    splatnetShift:
      type: object
      properties:
        danger_rate:
          type: number
          minimum: 0
          maximum: 200
        job_result:
          $ref: "#/components/schemas/splatnetJobResult"
        job_score:
          type: integer
          minimum: 0
        job_rate:
          type: integer
          minimum: 90
          maximum: 435
        grade_point:
          type: integer
          minimum: 0
          maximum: 999
        grade_point_delta:
          type: integer
          enum:
            - -20
            - -10
            - -5
            - 0
            - 20
        other_results:
          type: array
          items:
            $ref: "#/components/schemas/splatnetShiftPlayer"
          maxItems: 3
        kuma_point:
          type: integer
        start_time:
          type: integer
          minimum: 0
        player_type:
          $ref: "#/components/schemas/playerType"
        play_time:
          type: integer
          minimum: 0
        boss_counts:
          $ref: "#/components/schemas/bossCounts"
        end_time:
          type: integer
          minimum: 0
        my_result:
          $ref: "#/components/schemas/splatnetShiftPlayer"
        wave_details:
          type: array
          items:
            $ref: "#/components/schemas/wave"
          minItems: 1
          maxItems: 3
        grade:
          $ref: "#/components/schemas/grade"
        schedule:
          $ref: "#/components/schemas/schedule"
    splatnetJobResult:
      type: object
      properties:
        is_clear:
          type: boolean
        failure_reason:
          type: string
          enum:
            - time_limit
            - wipe_out
          nullable: true
        failure_wave:
          type: integer
          minimum: 1
          maximum: 3
          nullable: true
    splatnetShiftPlayer:
      type: object
      properties:
        special_counts:
          type: array
          items:
            type: integer
        special:
          $ref: "#/components/schemas/splatnetQuad"
        pid:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
        player_type:
          $ref: "#/components/schemas/playerType"
        weapon_list:
          type: array
          items:
            $ref: "#/components/schemas/weaponList"
          minItems: 1
          maxItems: 3
        name:
          type: string
        dead_count:
          type: integer
          minimum: 0
        golden_ikura_num:
          type: integer
          minimum: 0
        boss_kill_counts:
          $ref: "#/components/schemas/bossCounts"
        ikura_num:
          type: integer
          minimum: 0
        help_count:
          type: integer
          minimum: 0
    weaponList:
      type: object
      properties:
        id:
          type: string
        weapon:
          $ref: "#/components/schemas/shiftWeapon"
    shiftWeapon:
      allOf:
        - $ref: "#/components/schemas/splatnetTriple"
        - type: object
          properties:
            thumbnail:
              type: string
    bossCounts:
      type: object
      properties:
        3:
          $ref: "#/components/schemas/boss"
        6:
          $ref: "#/components/schemas/boss"
        9:
          $ref: "#/components/schemas/boss"
        12:
          $ref: "#/components/schemas/boss"
        13:
          $ref: "#/components/schemas/boss"
        14:
          $ref: "#/components/schemas/boss"
        15:
          $ref: "#/components/schemas/boss"
        16:
          $ref: "#/components/schemas/boss"
        21:
          $ref: "#/components/schemas/boss"
    boss:
      type: object
      properties:
        boss:
          $ref: "#/components/schemas/splatnetDouble"
        count:
          type: integer
          minimum: 0
    wave:
      type: object
      properties:
        water_level:
          $ref: "#/components/schemas/splatnetDouble"
        event_type:
          $ref: "#/components/schemas/splatnetDouble"
        golden_ikura_num:
          type: integer
          minimum: 0
        golden_ikura_pop_num:
          type: integer
          minimum: 0
        ikura_num:
          type: integer
          minimum: 0
        quota_num:
          type: integer
          minimum: 2
          maximum: 25
    grade:
      type: object
      properties:
        id:
          type: string
        short_name:
          type: string
        long_name:
          type: string
        name:
          type: string
    schedule:
      type: object
      properties:
        start_time:
          type: integer
          minimum: 0
        weapons:
          type: array
          items:
            $ref: "#/components/schemas/weaponList"
          minItems: 4
          maxItems: 4
        end_time:
          type: integer
          minimum: 0
        stage:
          $ref: "#/components/schemas/stage"
    stage:
      type: object
      properties:
        image:
          type: string
        name:
          type: string
    statInkShift:
      type: object
      properties:
        id:
          type: integer
          minimum: 0
        uuid:
          type: string
          format: uuid
        splatnet_number:
          type: integer
          minimum: 0
        url:
          type: string
          format: uri
        api_endpoint:
          type: string
          format: uri
        user:
          $ref: "#/components/schemas/statInkShiftUser"
        stage:
          $ref: "#/components/schemas/statInkTriple"
        is_cleared:
          type: boolean
        fail_reason:
          $ref: "#/components/schemas/statInkKeyName"
        clear_waves:
          type: integer
          minimum: 0
          maximum: 3
        danger_rate:
          type: string
          pattern: "^((0\\.[0-9])|([1-9]\\.[0-9])|([1-9][0-9]\\.[0-9])|(1[0-9][0-9]\\.[0-9])|(200\\.0))$"
        quota:
          type: array
          items:
            type: integer
            minimum: 2
            maximum: 25
          minItems: 1
          maxItems: 3
        title:
          $ref: "#/components/schemas/statInkTitle"
        title_exp:
          type: integer
          minimum: 0
          maximum: 999
        title_after:
          $ref: "#/components/schemas/statInkTitle"
        title_exp_after:
          type: integer
          minimum: 0
          maximum: 999
        boss_appearances:
          type: array
          items:
            $ref: "#/components/schemas/statInkBossData"
          maxItems: 9
        waves:
          type: array
          items:
            $ref: "#/components/schemas/statInkWave"
          minItems: 1
          maxItems: 3
        my_data:
          $ref: "#/components/schemas/statInkShiftPlayer"
        teammates:
          type: array
          items:
            $ref: "#/components/schemas/statInkShiftPlayer"
          maxItems: 3
        agent:
          $ref: "#/components/schemas/statInkSalmonAgent"
        automated:
          type: boolean
        note:
          type: object
          nullable: true
        link_url:
          type: object
          nullable: true
        shift_start_at:
          $ref: "#/components/schemas/statInkTime"
        start_at:
          $ref: "#/components/schemas/statInkTime"
        end_at:
          type: object
          nullable: true
        register_at:
          $ref: "#/components/schemas/statInkTime"
    statInkShiftUser:
      type: object
      properties:
        id:
          type: integer
          minimum: 0
        name:
          type: string
        screen_name:
          type: string
        url:
          type: string
          format: uri
        salmon_url:
          type: string
          format: uri
        battle_url:
          type: string
          format: uri
        join_at:
          $ref: "#/components/schemas/statInkTime"
        profile:
          $ref: "#/components/schemas/statInkProfile"
        stats:
          $ref: "#/components/schemas/statInkShiftStats"
    statInkShiftStats:
      type: object
      properties:
        work_count:
          type: integer
          minimum: 0
        total_golden_eggs:
          type: integer
          minimum: 0
        total_eggs:
          type: integer
          minimum: 0
        total_rescued:
          type: integer
          minimum: 0
        total_point:
          type: integer
          minimum: 0
        as_of:
          $ref: "#/components/schemas/statInkTime"
        registered_at:
          $ref: "#/components/schemas/statInkTime"
    statInkTitle:
      allOf:
      - $ref: "#/components/schemas/statInkTriple"
      - type: object
        properties:
          generic_name:
            $ref: "#/components/schemas/statInkName"
    statInkBossData:
      type: object
      properties:
        boss:
          $ref: "#/components/schemas/statInkBoss"
        count:
          type: integer
          minimum: 0
    statInkBoss:
      allOf:
      - $ref: "#/components/schemas/statInkTriple"
      - type: object
        properties:
          splatnetStr:
            type: string
    statInkWave:
      type: object
      properties:
        known_occurrence:
          $ref: "#/components/schemas/statInkTriple"
        water_level:
          $ref: "#/components/schemas/statInkTriple"
        golden_egg_quota:
          type: integer
          minimum: 2
          maximum: 25
        golden_egg_appearances:
          type: integer
          minimum: 0
        golden_egg_delivered:
          type: integer
          minimum: 0
        power_egg_collected:
          type: integer
          minimum: 0
    statInkTriple:
      allOf:
      - $ref: "#/components/schemas/statInkKeyName"
      - type: object
        properties:
          splatnet:
            type: integer
            minimum: 0
    statInkShiftPlayer:
      type: object
      properties:
        splatnet_id:
          type: string
          pattern: "^[A-Fa-f0-9]{16}$"
        name:
          type: string
        special:
          $ref: "#/components/schemas/statInkTriple"
        rescue:
          type: integer
          minimum: 0
        death:
          type: integer
          minimum: 0
        golden_egg_delivered:
          type: integer
          minimum: 0
        power_egg_collected:
          type: integer
          minimum: 0
        species:
          $ref: "#/components/schemas/statInkKeyName"
        gender:
          $ref: "#/components/schemas/statInkGender"
        special_uses:
          type: array
          items:
            type: integer
            minimum: 0
            maximum: 2
          minItems: 1
          maxItems: 3
        weapons:
          type: array
          items:
            $ref: "#/components/schemas/statInkTriple"
          minItems: 1
          maxItems: 3
        boss_kills:
          type: array
          items:
            $ref: "#/components/schemas/statInkBossData"
          maxItems: 9
    statInkSalmonAgent:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
    salmonWeaponEnum:
      type: string
      enum:
        - Sploosh-o-matic
        - Splattershot Jr.
        - Splash-o-matic
        - Aerospray MG
        - Splattershot
        - .52 Gal
        - N-ZAP '85
        - Splattershot Pro
        - .96 Gal
        - Jet Squelcher
        - Luna Blaster
        - Blaster
        - Range Blaster
        - Clash Blaster
        - Rapid Blaster
        - Rapid Blaster Pro
        - L-3 Nozzlenose
        - H-3 Nozzlenose
        - Squeezer
        - Carbon Roller
        - Splat Roller
        - Dynamo Roller
        - Flingza Roller
        - Inkbrush
        - Octobrush
        - Classic Squiffer
        - Splat Charger
        - Splatterscope
        - E-liter 4K
        - E-liter 4K Scope
        - Bamboozler 14 Mk I
        - Goo Tuber
        - Slosher
        - Soda Slosher
        - Tri-Slosher
        - Sloshing Machine
        - Bloblobber
        - Explosher
        - Mini Splatling
        - Heavy Splatling
        - Hydra Splatling
        - Ballpoint Splatling
        - Nautilus 47
        - Dapple Dualies
        - Splat Dualies
        - Glooga Dualies
        - Dualie Squelchers
        - Dark Tetra Dualies
        - Splat Brella
        - Tenta Brella
        - Undercover Brella
        - Grizzco Blaster
        - Grizzco Brella
        - Grizzco Charger
        - Grizzco Slosher
    salmonWeaponScheduleEnum:
      type: string
      enum:
        - Random Grizzco
        - Random
        - Sploosh-o-matic
        - Splattershot Jr.
        - Splash-o-matic
        - Aerospray MG
        - Splattershot
        - .52 Gal
        - N-ZAP '85
        - Splattershot Pro
        - .96 Gal
        - Jet Squelcher
        - Luna Blaster
        - Blaster
        - Range Blaster
        - Clash Blaster
        - Rapid Blaster
        - Rapid Blaster Pro
        - L-3 Nozzlenose
        - H-3 Nozzlenose
        - Squeezer
        - Carbon Roller
        - Splat Roller
        - Dynamo Roller
        - Flingza Roller
        - Inkbrush
        - Octobrush
        - Classic Squiffer
        - Splat Charger
        - Splatterscope
        - E-liter 4K
        - E-liter 4K Scope
        - Bamboozler 14 Mk I
        - Goo Tuber
        - Slosher
        - Soda Slosher
        - Tri-Slosher
        - Sloshing Machine
        - Bloblobber
        - Explosher
        - Mini Splatling
        - Heavy Splatling
        - Hydra Splatling
        - Ballpoint Splatling
        - Nautilus 47
        - Dapple Dualies
        - Splat Dualies
        - Glooga Dualies
        - Dualie Squelchers
        - Dark Tetra Dualies
        - Splat Brella
        - Tenta Brella
        - Undercover Brella
    User:
      type: object
      properties:
        id:
          type: integer
          minimum: 0
        username:
          type: string
  requestBodies:
    Battle:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Battle"
      required: true
    Shift:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Shift"
      required: true
